<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Testinterfaz1.Properties.Settings.Base_datos_test1ConnectionString"
            connectionString="Data Source=serverpsicologia.database.windows.net;Initial Catalog=&quot;Base datos test1&quot;;User ID=SQLSERVER;Password=Contra1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>